body{
    border: 12px solid rgb(0, 110, 155);



}


/*body {
    border-left: 20px solid rgb(0, 110, 153);
    border-right: 20px solid rgb(0, 110, 153); 
}*/

/*There seems to be a corelation between having the static and staticfiles path set in settings in order to have css files working; may be the case for js files too.
Quick note to self the unused styling may come in handy in some project.
